<!DOCTYPE html>
<html>
<head>
    <title>Edit Task</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Edit Task ✏️</h1>

    <form method="POST">

        <input
            type="text"
            name="task"
            value="{{ task[1] }}"
            required
        >

        <input
            type="date"
            name="due_date"
            value="{{ task[3] }}"
        >

        <button type="submit">
            Save Changes
        </button>

    </form>

    <br>

    <a href="/">
        <button type="button">
            Back
        </button>
    </a>

</div>

</body>
</html>
