<!DOCTYPE html>
<html>

<head>

    <title>Profile 👤</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>👤 Profile</h1>

    <a href="/">
        <button class="add-btn">
            ← Dashboard
        </button>
    </a>

    <br><br>

    <div class="profile-card">

        <h2>{{ username }}</h2>

        <h3>
            Level {{ level }}
        </h3>

        {% if level == 1 %}
            <p>🌱 Beginner</p>
        {% elif level == 2 %}
            <p>🚀 Productive Explorer</p>
        {% elif level == 3 %}
            <p>⚔️ Task Warrior</p>
        {% elif level == 4 %}
            <p>🥷 Productivity Ninja</p>
        {% else %}
            <p>👑 Legend</p>
        {% endif %}

        <p>
            XP: {{ xp }} / {{ level * 100 }}
        </p>

        <div class="progress-bar">

            <div
            class="progress-fill"style="width: {{ xp % 100 }}%">
            </div>

        </div>

    </div>

    <br>

    <div class="stats-container">

        <div class="stat-card">
            <h3>{{ current_streak }}</h3>
            <p>🔥 Current Streak</p>
        </div>

        <div class="stat-card">
            <h3>{{ best_streak }}</h3>
            <p>🏆 Best Streak</p>
        </div>

        <div class="stat-card">
            <h3>{{ productivity_score }}</h3>
            <p>⚡ Productivity Score</p>
        </div>

    </div>

    <br>

    <div class="stats-container">

        <div class="stat-card">
            <h3>{{ completed_tasks }}</h3>
            <p>✅ Completed</p>
        </div>

        <div class="stat-card">
            <h3>{{ pending_tasks }}</h3>
            <p>📌 Pending</p>
        </div>

    </div>
    <p class="footer">
        hecho con amor by Charulathaa
    </p>

</div>

</body>
</html>
